.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

 /*SIDEBAR*/
.widget-area {
  padding: .5em;
  border: 1px solid $color_bg_4;
  h1 {
    font-size: 2em;
    text-align: center;
    margin: .2em;
    padding: 0;
  }
  a {
  	color: $color_text_2;
  }
  a:hover,
  a:active {
  	color: $color_logo_1;
  	-webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;  
  }
  ul {
    margin: 0;
    padding: .5em;
  }
}